<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ghumio Web Console</title>
  <link rel="stylesheet" href="/stylesheet/webcommander.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascript/jquery-2.1.1.min.js"></script>
  <script>
    var socket = io.connect('http://localhost');
    socket.on('fromServer', function (data) {
      console.log(data);
      var function_name = "update_" + data.name;
      window[function_name](data);
      //socket.emit('fromBrowser', { 'component' : data.name });
    });
    function send_to_server(data) {
      socket.emit('fromBrowser', data);
    }
  </script>
</head>
<body>
  <div class="PanelsContainer" id="PanelsContainer">
    {% autoescape false %}{{Panels}}{% endautoescape %}
  </div>
</body>
</html>


